
.controllers {
    display: flex;
    position: absolute;

    margin-top: 10px;

    flex-flow: column;
    justify-items: center;
    text-align: center;
    row-gap: 10px;
    top: 0;
    color: white;
}

.controllerC {
    display: flex;
    flex-flow: row;
    gap: 10px;
}

.controllerB {
    border-radius: 5px;
    padding: 5px 9px 5px 9px;
    height: 30px;
    
    cursor: pointer;

    display: flex;
    align-items: center;

    transition: all 0.4s;
}

.cct {
    font-size: 11px;
    margin-top: 5px;
}

.cb1 {
    border: 1px solid #e76f51;
}

.cb1:hover {
    color: #e76f51;
    background-color: #dbdbdb;
}

.cb2 {
    border: 1px solid #588157;
}

.cb2:hover {
    color: #588157;
    background-color: #dbdbdb;
}

.cb3 {
    border: 1px solid #0096c7;
}

.cb3:hover {
    color: #0096c7;
    background-color: #dbdbdb;
}