.dashboard {
    display: flex;

    background-color: rgb(19, 19, 19);
    opacity: 0.8;
    
    border: 2px solid rgb(151, 151, 151);
    border-radius: 3px;

    padding: 12px;

    flex-flow: column;
    justify-items: center;
    gap: 15px;
    top: 0;
    color: white;
}

.dashboardB {
    border-radius: 5px;
    padding: 5px 9px 5px 9px;
    height: 25px;
    font-size: 14px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.4s;
    min-width: 80px;

    border: 1px solid #606c38;
}

.dashboardBW {
    min-width: 100%;
}

.dashboardB:hover {
    color: #606c38;
    background-color: #dbdbdb;
}

.srow {
    display: flex;
    flex-flow: row;
    justify-items: center;
    gap: 10px;

    min-width: 115px;
}

.dline {
    border-bottom: 1px solid #ffffff;
}